.square {
  height: 35px;
  width: 35px;
  background-color: #555;
}

.navbar {
  overflow: hidden;
  background-color: #666666;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #eeeeee;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 18px;
}

.container {
  padding: 18px;
  margin-top: 35px;
  height: 2000px;
}