.divofsquares {
	display: flex;
	flex-direction: row;
	border: 2px solid black;
	padding: 1px;
	height: 40px;
	width: 400px;
	background-color: #FFFFFF;
}

.divofsquares div {
	margin: 5px;
}


.square {
  height: 30px;
  width: 30px;
  background-color: #555;
}
