.divofcircles {
	display: flex;
	flex-direction: row;
	padding: 0px, 0px, 0px, 0px;
	height: 45px;
	width: 260px;
	background-color: blue;
}

.divofcircles div {
	margin: 4px;
}

.circle {
  height: 30px;
  width: 30px;
  background-color: #FFFFFF;
  color: #FFFFFF;
  font-size: 0px;
  border-radius: 50%;
}

button {
    margin: 5px;
}

input{
    margin: 20px;
    height: 15px;
    width: 60px;
}

.inline {
	display: flex;
	flex-direction: row;
	padding: 0px, 0px, 0px, 0px;
	height: 40px;
	width: 230px;
}